.nav-header {
  display: flex;
  justify-content: center;
}

.nav-content-light-theme {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-family: roboto;
  border-bottom: 1px solid black;
}
.nav-content-dark-theme {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
  color: white;
  font-family: roboto;
  border-bottom: 1px solid rgb(243, 243, 243);
}
.logo-image {
  width: 30px;
  height: 30px;
}
.home-about-container {
  display: flex;
  align-items: center;
}
.theme-image {
  width: 30px;
  height: 30px;
}
.theme-button {
  background-color: none;
  border: none;
}
